@import "tailwindcss";

@layer utilities {
  /* Hiệu ứng sọc màn hình quét (Scanlines) */
  .scanlines {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%,
      rgba(0, 0, 0, 0.25)
    );
    background-size: 100% 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 50;
  }

  /* Hiệu ứng tối 4 góc (Vignette) */
  .vignette {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.9);
  }
}

body {
  background-color: #0a0a0c;
  color: #f1f5f9;
  overflow-x: hidden;
}

/* Thanh cuộn (Scrollbar) giao diện máy tính mật */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0c;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}